* {
  font-family: "Rubik 80s Fade", cursive;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.left {
  height: 100vh;
  width: 33.33%;
}

.right {
  background-color: #eee;
  height: 100vh;
  width: 66.66%;
}