* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80%;
  width: 60%;
  margin-left: 5%;
}

button {
  background-color: rgb(99, 133, 163);
  height: 5vh;
  width: 15vw;
  border: none;
  border-radius: 10px;
  font-size: 1.25vw;
  color: white;
  box-shadow: 7px 7px 10px silver;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(99, 133, 163);
}

input {
  outline: none;
  height: 3vh;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 4px;
  font-size: 0.6vw;
}

input:focus {
  border: 2px solid rgb(99, 133, 163);
  box-shadow: 5px 5px 10px rgb(99, 133, 163, 0.3);
}

input:hover:not(:focus) {
  border: 1px solid rgb(99, 133, 163);
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 0.6vw;
  color: #555;
}

a:hover {
  color: rgb(145, 171, 194);
  transition: 0.3s;
}

button:hover {
  background-color: rgb(130, 158, 182);
  transition: 0.3s;
}

.left {
  height: 100vh;
  width: 40vw;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60vw;
}

.right-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  padding: 15% 20% 10% 5%;
  font-size: 1.3vw;
  font-weight: bold;
  height: 34vh;
}

.right-mid {
  background-color: white;
  box-shadow: 7px 7px 10px silver;
  height: 32vh;
  position: relative;
}

.right-mid p {
  font-size: 1.1vw;
  font-weight: bold;
  padding: 1.5% 0 1.5% 5%;
}

.right-bottom {
  background-color: #eee;
  height: 34vh;
  padding: 5%;
}

.right-bottom p {
  margin: 3% 0 0 1%;
  font-size: 0.9vw;
}

.logo-div {
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 17%;
  width: 40%;
  top: 25%;
  opacity: 50%;
}

.logo-div p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
}

.mismatch {
  border: 1px solid red;
}

.mismatch:focus {
  border: 2px solid red;
}

.mismatch:hover:not(:focus) {
  border: 1px solid red;
}

.pass-mismatch {
  visibility: hidden;
  font-size: 0.5vw;
  color: red;
}